<!DOCTYPE html>
<html lang="en" class="no-js">
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title>Portfolio Olivia Tastet</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>

        <!-- GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
        <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

        <!-- PAGE LEVEL PLUGIN STYLES -->
        <link href="css/animate.css" rel="stylesheet">
        <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css"/>

        <!-- THEME STYLES -->
        <link href="css/layout.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/custom.css" rel="stylesheet" type="text/css"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico"/>
    </head>
    <!-- END HEAD -->

    <!-- BODY -->
    <body id="body" data-spy="scroll" data-target=".header">

        <!--========== HEADER ==========-->
        <header class="header navbar-fixed-top">
            <!-- Navbar -->
            <nav class="navbar" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="menu-container js_nav-item">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon"></span>
                        </button>


                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-collapse">
                        <div class="menu-container">
                            <ul class="nav navbar-nav navbar-nav-right">
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#body">Home</a></li>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#about">About</a></li>
                                    <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#experience">Skills</a></li>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#work">Projects</a></li>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#contact">Contact</a></li>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/">FR</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Navbar Collapse -->
                </div>
            </nav>
            <!-- Navbar -->
        </header>
        <!--========== END HEADER ==========-->

        <!--========== SLIDER ==========-->
        <div class="promo-block">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 sm-margin-b-60">
                        <div class="margin-b-30">
                            <h1 class="promo-block-title">Olivia  TASTET</h1>
                            <p class="color-white promo-block-text">Full Stack Developer</p>
                        </div>
                        <ul class="list-inline">
                            <li><a href="https://www.linkedin.com/in/oliviatastet" target="_blank" class="social-icons"><i class="icon-social-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/otastet" target="_blank" class="social-icons"><i class="icon-social-twitter"></i></a></li>
                            <li><a href="https://github.com/otastet64" target="_blank" class="social-icons"><i class="icon-social-github"></i></a></li>
                        </ul>
                    </div>

                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
        <!--========== SLIDER ==========-->

        <!--========== PAGE LAYOUT ==========-->
        <!-- About -->
        <div id="about">
            <div class="container content-lg">
                <div class="row">
                    <div class="col-sm-4 sm-margin-b-60">
                        <img class="full-width img-responsive" src="img/photo_ot.jpg" alt="Image">
                    </div>
                    <div class="col-sm-8">
                        <div class="section-seperator margin-b-50">
                            <div class="margin-b-50">
                                <div class="margin-b-30">
                                    <h2>About</h2>
                                    <p>I have always been interested in foreign languages and computing, hence my university degree in modern languages and my Master of science in computing.</p>
                                    <p>After graduating, I pursued my carreer in building information systems in a young company developing new services, where I worked for 13 years.
                                        I then became Mananing Director of the company, which helped me to develop management skills and to lead projects.</p>
                                    <p>Curious, wilful and always searching to develop new skills, I learned full Stack web development at the Capsule Academy. I have a particular interest in SQL and noSQL database.</p>
                                    <p>Thanks to my experience, I have deloped skills in analytical thinking, attention to detail, patience, accuracy, and also enjoy debugging.</p>
                                </div>
                                <a href="/cv/resume_olivia_tastet.pdf" class="btn-theme btn-theme-md btn-default-bg text-uppercase" target="_blank">Download my CV</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
        <!-- End About -->

        <!-- Experience -->
        <div id="experience">
            <div class="bg-color-sky-light" data-auto-height="true">
                <div class="container content-lg">
                    <div class="row margin-b-40">
                        <div class="col-sm-6">
                            <h2>Skills</h2>
                        </div>
                    </div>
                    <div class="row row-space-2 margin-b-4">
                        <div class="col-md-3 col-sm-6 md-margin-b-4">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-layers"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Back End</h3>
                                    <p class="margin-b-5">Node.js <img class="experience-img" src="img/experience/nodejs.png" alt="Image"></p>
                                    <p class="margin-b-5">Express </p>
                                    <p class="margin-b-5">MongoDB <img class="experience-img" src="img/experience/mongoLeave.jpg" alt="Image" height="80px"></p>
                                    <p class="margin-b-5">SQL </p>
                                    <p class="margin-b-5">AWS <img class="experience-img" src="img/experience/apache.jpg" alt="Image" height="80px"></p>
                                    <p class="margin-b-5">Heroku <img class="experience-img" src="img/experience/heroku.png" alt="Image" height="80px"></p>
                                    <p class="margin-b-5">Java <img class="experience-img" src="img/experience/java_logo.svg.png" alt="Image" height="80px"></p>
                                        <p class="margin-b-5">API REST</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 md-margin-b-4">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-magic-wand"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Front End</h3>
                                    <p class="margin-b-5">JavaScript <img class="experience-img" src="img/experience/javascript-logo.png" alt="Image"></p>
                                    <p class="margin-b-5">React.js, Redux <img class="experience-img" src="img/experience/react_redux.png" alt="Image"></p>
                                    <p class="margin-b-5">JQuery, Ajax et API <img class="experience-img" src="img/experience/jquery.gif" alt="Image"></p>
                                    <p class="margin-b-5">HTML 5, CSS 3 <img class="experience-img" src="img/experience/html5css3.png" alt="Image"></p>
                                    <p class="margin-b-5">Bootstrap, Responsive <img class="experience-img" src="img/experience/bootstrap-logo.png" alt="Image"></p>
                                    <p class="margin-b-5">NPM Webpack </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 sm-margin-b-4">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon  icon-screen-smartphone"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Web mobile </h3>
                                    <p class="margin-b-5">Hybrid  App with <img class="experience-img" src="img/experience/monaca.png" alt="Image"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-wrench"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Dev tools</h3>
                                        <p class="margin-b-5">Node.js tools <img class="experience-img" src="img/experience/nodejs.png" alt="Image"></p>
                                        <p class="margin-b-5">Git GitHub <img class="experience-img" src="img/experience/github.png" alt="Image"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// end row -->
                </div>
            </div>
        </div>
        <!-- End Experience -->

        <!-- Work -->
        <div id="work">
            <div class="container content-lg">
                <div class="row margin-b-40">
                    <div class="col-sm-6">
                        <h2>Projects</h2>
                    </div>
                </div>
                <!--// end row -->

                <div class="row">
                    <!-- First Project -->
                    <div class="col-sm-6 sm-margin-b-60">
                        <h3><a href="http://www.cokodev.com" target="_blank">CoKoDev</a></h3>
                            <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                <a href="http://www.cokodev.com" target="_blank"><img class="img-responsive" src="img/projects/cokodev.png" alt="Cokodev"></a></img>
                            </div>
                    </div>
                        <div class="col-sm-6">
                            <div>
                                <div class="margin-b-20">
                                     <br></br> <h4>Developer and co-founder</h4>
                                    <p>Collaborative Code Developement Application for saving and sharing snippets with the community.</p>
                            </div>
                        </div>
                    <div class="progress-box">
                        <h5>MongoDB <span class="color-heading pull-right">100%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-color-base" role="progressbar" data-width="100"></div>
                        </div>
                    </div>
                    <div class="progress-box">
                        <h5>Node.js <span class="color-heading pull-right">90%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-color-base" role="progressbar" data-width="90"></div>
                        </div>
                    </div>
                    <div class="progress-box">
                        <h5>React <span class="color-heading pull-right">80%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-color-base" role="progressbar" data-width="80"></div>
                        </div>
                    </div>
                    <div class="progress-box">
                        <h5>Redux <span class="color-heading pull-right">80%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-color-base" role="progressbar" data-width="80"></div>
                        </div>
                    </div>
                </div>
             </div>
        <!-- End First Project -->
               <br><br>
            <div class="row margin-b-40">
                <div class="col-sm-6">

                </div>
            </div>
                <div class="row">
                    <!-- Second Project -->
                    <div class="col-sm-6 sm-margin-b-60">
                        <h3><a href="http://www.lyon-marketing-services.fr/" target="_blank">Lyon Marketing Services</a></h3>
                            <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                <a href="http://www.lyon-marketing-services.fr/" target="_blank"><img class="img-responsive" src="img/projects/lms.png" alt="Lyon Marketing Services"></a></img>
                            </div>
                    </div>
                        <div class="col-sm-6">
                            <div>
                                <div class="margin-b-20">
                                    <br></br> <h4>Deputy Director</h4>
                                    <p>Lyon Marketing Services is a leader compagny in providing qualitative and quantitative marketing research fieldworks.</p>
                            </div>
                        </div>
                    <div class="progress-box">
                        <h5>Project management <span class="color-heading pull-right">85%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-color-base" role="progressbar" data-width="85"></div>
                        </div>
                    </div>
                    <div class="progress-box">
                        <h5>Database management <span class="color-heading pull-right">90%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-color-base" role="progressbar" data-width="90"></div>
                        </div>
                    </div>
                    <div class="progress-box">
                        <h5>Development front-end <span class="color-heading pull-right">80%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-color-base" role="progressbar" data-width="80"></div>
                        </div>
                    </div>
                </div>
            </div>
                        <!-- End Second Project -->
                        <br><br>
                     <div class="row margin-b-40">
                         <div class="col-sm-6">
                         </div>
                     </div>
                         <div class="row">
                             <!-- Third Project -->
                             <div class="col-sm-6 sm-margin-b-60">
                                 <h3><a href="https://arche-aux-innovateurs-adaproxi.jimdo.com/?logout=1" target="_blank">Timeo - Arche aux innovateurs</a></h3>
                                     <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                         <a href="https://arche-aux-innovateurs-adaproxi.jimdo.com/?logout=1" target="_blank"><img class="img-responsive" src="img/projects/timeo.jpg" alt="Timeo"></a></img>
                                     </div>
                             </div>
                                 <div class="col-sm-6">
                                     <div>
                                         <div class="margin-b-20">
                                             <br></br> <h4>Archi novateur and co-founder</h4>
                                             <p>TIMEO is a waterproof Led hourglass that reinvents time notion in the bathroom </p>
                                     </div>
                                 </div>
                             <div class="progress-box">
                                 <h5>Project Management <span class="color-heading pull-right">90%</span></h5>
                                 <div class="progress">
                                     <div class="progress-bar bg-color-base" role="progressbar" data-width="90"></div>
                                 </div>
                             </div>
                             <div class="progress-box">
                                 <h5>Prototyping phase of the Electronic parts  : leds and Arduino programmed in C++  <span class="color-heading pull-right">90%</span></h5>
                                 <div class="progress">
                                     <div class="progress-bar bg-color-base" role="progressbar" data-width="90"></div>
                                 </div>
                             </div>
                             <div>
                                 <h5><a href="/articles/article_la_tribune_de lyon_mars_2017.jpg" target="_blank">In the Press - Article La Tribune march 2017 </a></h5>
                             </div>
                         </div>
                     </div>
                             <!-- End Third Project -->
                             <br><br>
                          <div class="row margin-b-40">
                              <div class="col-sm-6">
                              </div>
                          </div>
                              <div class="row">
                                  <!-- Fourth Project -->
                                  <div class="col-sm-6 sm-margin-b-60">
                                       <h3><a href="http://celestine69.wix.com/celestine69/" target="_blank">Crèche Célestine</a></h3>
                                          <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                              <a href="http://celestine69.wix.com/celestine69/" target="_blank"><img class="img-responsive" src="img/projects/celestine.jpg" alt="Crèche Célestine"></a></img>
                                          </div>
                                  </div>
                                      <div class="col-sm-6">
                                          <div>
                                              <div class="margin-b-20">
                                                  <br></br> <h4>Chairman of the Association</h4>
                                                  <p>Crèche</p>
                                          </div>
                                      </div>
                                  <div class="progress-box">
                                      <h5>Providing leadership and governance of the Board <span class="color-heading pull-right">90%</span></h5>
                                      <div class="progress">
                                          <div class="progress-bar bg-color-base" role="progressbar" data-width="90"></div>
                                      </div>
                                  </div>
                                  <div class="progress-box">
                                      <h5>Implementation of IT systems <span class="color-heading pull-right">90%</span></h5>
                                      <div class="progress">
                                          <div class="progress-bar bg-color-base" role="progressbar" data-width="90"></div>
                                      </div>
                                  </div>
                                  <div class="progress-box">
                                      <h5>Fundraising <span class="color-heading pull-right">70%</span></h5>
                                      <div class="progress">
                                          <div class="progress-bar bg-color-base" role="progressbar" data-width="70"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                                  <!-- End Fourth Project -->
            </div>
        <!-- End Work -->

        <!-- Contact -->
        <div id="contact">
            <div class="bg-color-sky-light">
                <div class="container content-lg">
                    <div class="row margin-b-40">
                        <div class="col-sm-6">
                           <h2>Contact</h2>
                        </div>
                    </div>
                    <!--// end row -->

                    <div class="row">
                        <div class="col-md-3 col-xs-6 md-margin-b-30">
                            <h4>Location</h4>
                            <a href="http://www.oliviatastet.com">Lyon, France</a>
                        </div>
                        <div class="col-md-3 col-xs-6 md-margin-b-30">
                            <h4>Mobile</h4>
                            <a href="http://www.oliviatastet.com">+33 (0)6 71 83 60 90</a>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <h4>Email</h4>
                            <a href="mailto:#">otastet@yahoo.com</a>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <h4>Web</h4>
                            <a href="http://www.oliviatastet.com">www.oliviatastet.com</a>
                        </div>
                    </div>
                    <!--// end row -->
                </div>
            </div>
        </div>
        <!-- End Contact -->
        <!--========== END PAGE LAYOUT ==========-->

        <!--========== FOOTER ==========-->
        <footer class="footer">
            <div class="content container">
                <div class="row">
                    <div class="col-xs-6">
                    </div>
                    <div class="col-xs-6 text-right sm-text-left">
                        <p class="margin-b-0"> by <a class="fweight-700" href="http://www.oliviatastet.com/">Olivia Tastet</a></p>
                    </div>
                </div>
                <!--// end row -->
            </div>
        </footer>
        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

        <!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- CORE PLUGINS -->
        <script src="vendor/jquery.min.js" type="text/javascript"></script>
        <script src="vendor/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

        <!-- PAGE LEVEL PLUGINS -->
        <script src="vendor/jquery.easing.js" type="text/javascript"></script>
        <script src="vendor/jquery.back-to-top.js" type="text/javascript"></script>
        <script src="vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="vendor/jquery.wow.min.js" type="text/javascript"></script>
        <script src="vendor/jquery.parallax.min.js" type="text/javascript"></script>
        <script src="vendor/jquery.appear.js" type="text/javascript"></script>
        <script src="vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>

        <!-- PAGE LEVEL SCRIPTS -->
        <script src="js/layout.min.js" type="text/javascript"></script>
        <script src="js/components/progress-bar.min.js" type="text/javascript"></script>
        <script src="js/components/swiper.min.js" type="text/javascript"></script>
        <script src="js/components/wow.min.js" type="text/javascript"></script>

    </body>
    <!-- END BODY -->
</html>
